{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Softwares</h2>
<div class="row">
  {% for item in object_list %}
    <div class="col-md-4">
      <div class="card mb-4">
        {% if item.image %}
          <img src="{{ item.image.url }}" alt="{{ item.title }}">
        {% else %}
          <img src="{% static 'img/Software/default.jpg' %}" alt="Default Software Image">
        {% endif %}
        <div class="card-body">
          <h5>{{ item.title }}</h5>
          <p>${{ item.discount_price|default:item.price }}</p>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No softwares found.</p>
  {% endfor %}
</div>
{% endblock %}